In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([1,3,5,9])

In [3]:
obj

0    1
1    3
2    5
3    9
dtype: int64

In [6]:
obj.values

array([1, 3, 5, 9], dtype=int64)

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
obj2= Series([1000,3000,5000,8000],index=['ashish','Deepanshu','Shakti','Shivani'])

In [11]:
obj2

ashish       1000
Deepanshu    3000
Shakti       5000
Shivani      8000
dtype: int64

In [14]:
obj2.loc[obj2>3000]

Shakti     5000
Shivani    8000
dtype: int64

In [15]:
#Check if USSR is in Series
'ashish' in obj2

True

In [16]:
#Can convert Series into Python dictionary
obj2_dict = obj2.to_dict()

In [17]:
obj2_dict

{'ashish': 1000, 'Deepanshu': 3000, 'Shakti': 5000, 'Shivani': 8000}

In [19]:
#Can convert back into a Series
obj2_series = Series(obj2_dict)

In [20]:
obj2_series

ashish       1000
Deepanshu    3000
Shakti       5000
Shivani      8000
dtype: int64

In [24]:
#Passing a dictionary the index will have the dict keys in order
names = ['Ashish','Deepanshu','Shakti','Shivani']

In [25]:
#Lets redefine a Series
obj2=Series(obj2_dict,index=names)

In [26]:
obj2

Ashish          NaN
Deepanshu    3000.0
Shakti       5000.0
Shivani      8000.0
dtype: float64

In [27]:
obj2 + obj2_series

Ashish           NaN
Deepanshu     6000.0
Shakti       10000.0
Shivani      16000.0
ashish           NaN
dtype: float64

In [28]:
#We can give Series names
obj2.name = "Future best buddy"

In [29]:
obj2

Ashish          NaN
Deepanshu    3000.0
Shakti       5000.0
Shivani      8000.0
Name: Future best buddy, dtype: float64

In [30]:
#We can also name index
obj2.index.name = 'Name'

In [31]:
obj2

Name
Ashish          NaN
Deepanshu    3000.0
Shakti       5000.0
Shivani      8000.0
Name: Future best buddy, dtype: float64